<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Student Management System</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style>
		.thead {
			display: flex;
			justify-content: space-between;
			width: 100%;

			margin: 20px auto;
		}

		.navbar {
			background: blue;
			height: 65px;
			margin-bottom: 60px;
		}
		.btnr{
			width: 60%;
			margin-left:20%;
		}
	</style>

</head>


<body>

	<nav class="navbar">
		<div>
			<h1 style="color: white;">Student Management System</h1>
		</div>

	</nav>


	<div class="container">
		<div class="roe">
			<div class="box-footer">
			<a th:href=" @{/students}" class="btn btn-primary">
				View All
			</a>
		</div>
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
	

				<div class="card-body">


					<form method="post" th:action="@{/students/{id} (id=${student.id})}" th:object="${student}">
						<div class="form-group">

							<label>Student ID</label>
							<input type="text" name="id" th:field="${student.id}" class="form-control" placeholder="" />

							<label>Student First Name</label>
							<input type="text" name="firstName" th:field="${student.firstName}" class="form-control"
								placeholder="Enter Student First Name" />

							<label>Student Last Name</label>
							<input type="text" name="lastName" th:field="${student.lastName}" class="form-control"
								placeholder="Enter Student last Name" />

							<label>Student Email</label>
							<input type="text" name="email" th:field="${student.email}" class="form-control"
								placeholder="Enter Student email" />
						</div>
						<div class="box-footer">
							<button type="submit" class="btnr btn btn-primary">Update Student</button>
						</div>
					</form>
				</div>

			</div>

		</div>

	</div>




</body>

</html>